body {
    font-family: Arial, Helvetica, sans-serif;
  }

  iframe{
    display: none;
}


/* The animation code */
@keyframes rainbowtext {
  0%   {background-color:red; }
  25%  {background-color:yellow;  }
  50%  {background-color:blue;  }
  75%  {background-color:blueviolet;  }
  100% {background-color:red;  }
}

@keyframes title {

  
    0% {
      transform: scale(7);
          }
    60% {
      transform: scale(0) rotate(360deg);
        }
    61% {
        transform:scale(0);
        opacity: 1;
    }
    62% {
        transform:scale(15);
        opacity: 0;
    }
    
    100% {
      transform: scale(1);
    }
  }


/* The element to apply the animation to */
div {
animation-duration: 21s;
animation-name: rainbowtext;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in;
}

.title {
    animation-duration: 2s;
    animation-name: title;
    
    
}



#label {
    background-color: black;
    padding: 2px;
    color: white;
    
}






/* .column{
    column-count: 3;
} */

.parallax {
    
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/812dKz%2BvBcL._AC_SL1500_.jpg');
  
    
    height: 100%; 
    width: 100%;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
h1 {
    display: inline-block;
    color: whitesmoke;
    
}

.btntog {
    background-color: yellowgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;     
    
    
    overflow: hidden; 
    background-color:black;
    }

    #demo {
        color:darkred;
    }
    p {
        padding:5px;
        display: block;
        display: none;
        background-color: whitesmoke;
    }

    
    /*---below  is desktop view---*/
  @media screen and (min-width: 700px)  {
  .column{
      column-count: 3;
  }
  .btncolumn {
      column-count: 3;
  }

  li {
     display:block;
     float:left;
     padding: 8px;
     text-align:center;
     border: 1px solid black;
     border-right: none; 
     
     }
  li a {
      text-decoration:none;
      color: white;
      padding: 14px 16px;
  }        

  li a:hover {
      background-color: purple;
  }
  li a:active {
     text-decoration: underline;
  }
  }   
  /*---below is mobile first---*/
  @media screen and (max-width: 700px) {
  li a {
     display:block;
     background-color: cyan;
     color:black;
     text-decoration:none;
     padding: 8px;
     
     text-align:center;
      }
 li {
     
     border-bottom: 1px solid black;
 }
 li:last-child {
     border-bottom: none;
 }
 li a:hover {
     background-color:whitesmoke;
     }
 li a:active {
     text-decoration:underline;
 }
 }